---
# https://docs.k3s.io/helm
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cilium
  namespace: kube-system
spec:
  repo: https://helm.cilium.io/
  chart: cilium
  version: 1.15.0
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    rollOutCiliumPods: true

    resources:
      requests:
        cpu: 100m
        memory: 512Mi

    securityContext:
      privileged: true

    l2announcements:
      enabled: true
      leaseDuration: 300s
      leaseRenewDeadline: 60s
      leaseRetryPeriod: 5s

    gatewayAPI:
      enabled: true

    hubble:
      relay:
        enabled: true
      ui:
        enabled: true
        service:
          annotations:
            external-dns.alpha.kubernetes.io/hostname: hubble.wiersma.tech.
            external-dns.alpha.kubernetes.io/ttl: 5m
          type: LoadBalancer

    ipam:
      mode: kubernetes

    ipv4NativeRoutingCIDR: "{{ k3s.cluster.cidr }}"

    loadBalancer:
      algorithm: maglev
      mode: snat

    bpf:
      masquerade: true

    bgp:
      enabled: false

    endpointRoutes:
      enabled: true

    k8sServiceHost: "{{ groups[k3s.server_group][0] }}"
    k8sServicePort: 6443

    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256

    localRedirectPolicy: true

    operator:
      rollOutPods: true

    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
    dashboards:
      enabled: true

    envoy:
      enabled: true
      image:
        repository: "nrwiersma/cilium-envoy"
        tag: v1.28.0-6d07a90366ae62ec001fb481007af53115170708-arm64
        digest: sha256:ef527a59a46169a10d397d267217774f32178bc6274e0b21f2c15227bbbdd5d3
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
      prometheus:
        serviceMonitor:
          enabled: true
